@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {

  0%,
  65% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes skull-bounce {

  0%,
  100% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-10px);
  }

  75% {
    transform: translateY(10px);
  }
}

.skull-bounce {
  animation: skull-bounce 5s linear infinite;
}

.project-card-info {
  animation: fadeIn 1s linear;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

/* Taken from https://idx.dev/ */
:root {
  --tw-ring-offset-shadow: 0 0 #0f172a;
  --tw-ring-shadow: 0 0 #0f172a;
  --tw-shadow: 0 0 #0f172a;
  --tw-shadow-colored: 0 0 #0f172a;
}

.obscure-stars {
  border-radius: .75rem;
  --tw-bg-opacity: 1;
  background-color: #0f172a;
  --tw-shadow: 0 0 20px 20px #0f172a;
  --tw-shadow-colored: 0 0 20px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0f172a), var(--tw-ring-shadow, 0 0 #0f172a), var(--tw-shadow);
}

:root {
  --gradient-angle: 360deg;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 360deg;
  inherits: false;
}

.card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.5),
      hsla(0, 0%, 100%, 0.1),
      #fff,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.python-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #FFDE57,
      #356F9F,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.go-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #74CEDD,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.rust-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #F74C00,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.javascript-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #FFEF57,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.java-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      #F8981D,
      #5382A1,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.cpp-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      #004481,
      #669AD3,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.c-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      #344187,
      #5C6BC0,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.typescript-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #2F78C5,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.docker-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #1D63ED,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.kubernetes-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #326DE6,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.terraform-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #7B42BC,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.ansible-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #1A1918,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.argocd-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #FE733E,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.mysql-card {
  background: linear-gradient(var(--gradient-angle),
      #F29111,
      hsla(0, 0%, 100%, 0.8),
      #00758F,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.postgresql-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #336791,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.cockroachdb-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      #5F47F5,
      #7DBC42,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.surrealdb-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #F20CB8,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.aws-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.1),
      #FF9900,
      hsla(0, 0%, 100%, 0.3)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

.gcp-card {
  background: linear-gradient(var(--gradient-angle),
      hsla(0, 0%, 100%, 0.5),
      #FBBC05,
      #34A853,
      #4285F4,
      #EA4335,
      hsla(0, 0%, 100%, 0.8)) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

@keyframes gradient-rotate {
  0% {
    --gradient-angle: 360deg;
  }

  100% {
    --gradient-angle: 0deg;
  }
}

.w-full-minus-5px {
  width: calc(100% - 5px);
}

.h-full-minus-5px {
  height: calc(100% - 5px);
}

/* Track styles */
::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background-color: #9C1F58;
  /* color of the handle */
  border-radius: 6px;
  /* rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #641237;
  /* darker color when hovered */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background-color: #0f172a;
  /* lighter color when hovered */
}

/* Track styles */
::-webkit-scrollbar-track {
  background: #0f172a;
  /* color of the track */
}

/* Corner styles */
::-webkit-scrollbar-corner {
  background: #0f172a;
  /* color of the corner where vertical and horizontal scrollbars meet */
}